body{background:blueviolet; text-align: center}
    h1{background-color: black; font: italic; font-weight: bold; color: blanchedalmond}
    p{background-color: gray}
    img{margin-left: auto; margin-right: auto}

#box {}